# Virtual environments
.myenv/
venv/
.venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.eggs/
build/
dist/

# Environment variables / secrets
.env

# Jupyter
.ipynb_checkpoints/

# Editor / IDE
.vscode/
.idea/

# OS
.DS_Store
